<!DOCTYPE html>
<html>
<head>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./static/cs.css">
    <link rel="stylesheet" href="./static/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />


  <style>
    .info {
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 40px;
    }
  
    .info h1 {
      font-family: 'Arial', sans-serif;
      font-weight: bold;
      font-size: 28px;
      color: #333;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .info .content {
      font-family: 'Arial', sans-serif;
      font-size: 16px;
      line-height: 1.6;
      color: #666;
    }
  
    .info .content p {
      margin: 0;
    }
  
    .info .content p:first-child {
      margin-top: 0;
    }
  
    .info .content p:last-child {
      margin-bottom: 0;
    }
     
    .cont
    {
    
    width: 100%;
    background: #fff;
    padding: 30px;
    opacity:0.8;
    }
  </style>
</head>

<body>
   
   
   


    <div class="mid" style="height: 100vh;">
      <nav class="navbar navbar-expand-lg navbar-light " style="color: rgb(228, 220, 220); background-color: transparent; border-color: transparent; height: 15vh;">
        <div class="cont" style=" border-bottom: 2px solid white; box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1); background-color: transparent; display:flex; justify-content:space-between;height: 15vh;">
            <a class="navbar-brand" href="#">
              <h1> <span style="font-family: 'Helvetica'; font-size:42px; line-height:0px;"> SunSync </span></h1>
            </a>
  
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-link " id="navitem1" href="#who"><b>WHO WE ARE </b><i class="fa fa-search" style="font-size:18px"></i> </a>&nbsp;
                    <a class="nav-link" id="navitem2" href="#what"><b>WHAT WE DO </b><i class='fas fa-clipboard-list' style='font-size:18px'></i></a>&nbsp;&nbsp;
                    <a class="nav-link" id="navitem4" href="#faqs"><b>FAQ's </b><i class="fa fa-question-circle" style="font-size:18"></i></a>&nbsp;&nbsp;
                </div>
            </div>
  
        </div>
    </nav>
    <div style="background-color: #ead9b2dd; height:50vh; width: 50vh; border-radius: 10px; position: absolute; text-align: center;  top: 50%; left: 50%; transform: translate(-50%, -50%); align-items: center;justify-content: center; display: flex; flex-direction: column;">
        <h2>Choose One</h2>
        <div style="display: flex; flex-direction: column; margin-top: 20px;">
          <button style=" border-color: transparent; border-radius: 10px; padding: 10px 20px; margin-bottom: 10px; margin: 5px;" onclick="redirectToIndex()">Government Organization</button>
          <button style="border-radius: 10px; padding: 10px 20px;border-color: transparent;  margin-top: 10px; margin: 5px;" onclick="redirectToDealer()">Solar Panel Dealer</button>
          <button style="border-radius: 10px; padding: 10px 20px;border-color: transparent;  margin-top: 10px; margin: 5px;" onclick="redirectToUser()">Individual User</button>
        </div>
      </div>
    </div>
    
      <div style="display: flex;flex-direction: row;color: rgb(239, 235, 235);  width: 100%; margin: 0 auto; padding: 20px; text-align: center; font-size: 0;">
        <div class="col-12 col-md-4 col-lg-4 mb-3 hover-container" style="color: black; padding: 20px; background-color: #d0b8ac; border-radius: 50px 50px 0 0; font-size: 16px; box-sizing: border-box;">
            <h4>Government Organization</h4>
            <p style="text-align: justify;">
                <b>Utilization for Solar Panel Detection:</b> Government organizations can utilize the application to detect the number of houses equipped with solar panels in various regions like areas, cities, or districts.
            </p>
            <p style="text-align: justify;">
                <b>Estimation of Solar Panel Installation Needs:</b> The application aids in estimating the number of houses without solar panels, facilitating the calculation of installation costs for specific locations.
            </p>
            <p style="text-align: justify;">
                <b>Planning and Budgeting Assistance:</b> By providing insights into the distribution of solar panel installations, the app helps government organizations in planning and budgeting for solar energy initiatives effectively.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-4 mb-3 hover-container" style="margin: 0 6px; color: black; padding: 20px; background-color: #f3d8c7; border-radius: 50px 50px 0 0; font-size: 16px; box-sizing: border-box;">
            <h4>Solar Panel Dealers</h4>
            <p style="text-align: justify;"><b>Product Catalog Presentation:</b> Dealers benefit from presenting a comprehensive product catalog showcasing various solar panels, inverters, batteries, etc., accompanied by detailed pricing information.</p>
            <p style="text-align: justify;"><b>Inventory Tracking System:</b> Implementing a robust inventory tracking system enables dealers to monitor stock levels accurately and replenish inventory as needed to meet customer demands.</p> 
            <p style="text-align: justify;"><b>Order Management Tools:</b> Efficient tools for managing orders facilitate seamless transactions, ensuring timely delivery and customer satisfaction.

            </p>

        </div>
        <div class="col-12 col-md-4 col-lg-4 mb-3 hover-container" style=" padding: 20px;color: black; background-color: #efe5dc; border-radius: 50px 50px 0 0; font-size: 16px; box-sizing: border-box;">
            <h4>Individual User</h4>
            <p style="text-align: justify;"><b>Solar Benefits Overview:</b> Informing homeowners about the advantages of solar power, including cost savings and environmental benefits.
</p>
            <p style="text-align: justify;">
                <b>System Selection Guidance:</b> Assisting homeowners in choosing the most suitable solar system for their property based on their energy needs and budget.
                </p>
            <p style="text-align: justify;">
                <b>Installation Support:</b> Providing resources and connecting homeowners with certified installers for seamless installation and ongoing maintenance of their solar panels.</p>
        </div>
        
      </div>  
      
        
      
<div >      
<div id="who"  style="margin-bottom: 20px;">
  <h1 style="text-align: center;">WHO WE ARE</h1>
  <div style="align-items: center; text-align: justify;padding-left: 6vh;padding-right: 6vh;">
    <p> &bull; We specialize in developing innovative solutions that utilize machine learning algorithms to analyze vast amounts of satellite imagery data. Our focus is on identifying and monitoring environmental features such as vegetation cover, land use patterns, and water resources. By harnessing the power of artificial intelligence, we can provide valuable insights into ecosystem health, biodiversity, and climate change trends.
      <br><br>
      &bull; Our team is comprised of experts in computer vision, data science, and environmental science, allowing us to tackle complex challenges with interdisciplinary approaches. We continuously strive to enhance our models and algorithms to achieve higher accuracy and efficiency in environmental monitoring and analysis.
      <br><br>
      &bull; In addition to our core expertise in machine learning and satellite imagery analysis, we also collaborate with stakeholders across various sectors, including government agencies, non-profit organizations, and private enterprises. Through these collaborations, we aim to foster knowledge sharing, facilitate data-driven decision-making, and drive collective action towards a more sustainable future.
      <br><br>
      &bull; We are passionate about using technology as a force for good and are dedicated to creating impactful solutions that contribute to the preservation of our planet for future generations. Our mission is to empower individuals and organizations with the tools and insights they need to make informed decisions and take proactive measures to address environmental challenges.</p>
  </div>
</div>
<div id="what" style="align-items: center; text-align: justify;padding-left: 6vh;padding-right: 6vh;">
  <h1 style="text-align: center;">WHAT WE DO</h1>
  <div style="align-items: center; text-align: justify;padding-left: 4vh;padding-right: 4vh;">
    <p>&bull; At our core, we excel in pioneering advanced solutions tailored specifically for solar panel detection and monitoring, employing cutting-edge machine learning algorithms in tandem with satellite imagery analysis. Leveraging the wealth of data available through satellite imagery, we achieve pinpoint accuracy and unparalleled efficiency in identifying solar panels across diverse geographic locations.
      <br><br>
      &bull; Our primary objective is to equip governments, organizations, and individuals with actionable insights that optimize the utilization of solar energy resources, drive widespread adoption of renewable energy technologies, and foster a more environmentally sustainable future.</p>
  </div>
</div>

<div id="faqs" class="wrapper">
  <h1>Frequently Asked Questions</h1>

 <div class="faq">
   <button class="accordion">
      What is solar panel detection?
     <i class="fa-solid fa-chevron-down"></i>
   </button>
   <div class="pannel">
     <p>
         Solar panel detection refers to the process of identifying and locating solar panels in satellite images or photographs using machine learning algorithms. This technology enables us to analyze vast amounts of imagery data to accurately detect the presence of solar panels on rooftops, fields, or other surfaces.
     </p>
   </div>
 </div>

 <div class="faq">
   <button class="accordion">
     Why is solar panel detection important?
     <i class="fa-solid fa-chevron-down"></i>
   </button>
   <div class="pannel">
     <p>
         Solar panel detection plays a crucial role in renewable energy monitoring, urban planning, and environmental sustainability. By accurately identifying the locations of solar panels, we can assess solar energy potential, monitor installation trends, and optimize energy infrastructure planning for maximum efficiency and impact.

     </p>
   </div>
 </div>

 <div class="faq">
   <button class="accordion">
     How does solar panel detection work?
     <i class="fa-solid fa-chevron-down"></i>
   </button>
   <div class="pannel">
     <p>
         Solar panel detection involves training machine learning models, such as convolutional neural networks (CNNs), on annotated datasets of satellite images containing solar panels. These models learn to recognize patterns and features indicative of solar panels, allowing them to accurately identify and localize solar panels in new images.

     </p>
   </div>
 </div>

 <div class="faq">
   <button class="accordion">
     What are the benefits of solar panel detection?
     <i class="fa-solid fa-chevron-down"></i>
   </button>
   <div class="pannel">
     <p>
         The benefits of solar panel detection include improved renewable energy planning and deployment, enhanced monitoring of solar energy production, identification of suitable locations for solar installations, and support for policy-making and decision-making processes related to sustainable energy development.

     </p>
   </div>
 </div>

 <div class="faq">
   <button class="accordion">
     Can solar panel detection be applied to other areas?
     <i class="fa-solid fa-chevron-down"></i>
   </button>
   <div class="pannel">
     <p>
         Yes, the technology and methodologies used for solar panel detection can be adapted and applied to various other domains, including infrastructure monitoring, agricultural analysis, disaster response, and urban development planning. The ability to analyze satellite imagery and detect specific features opens up a wide range of applications beyond renewable energy.

     </p>
   </div>
 </div>

 <div class="faq">
   <button class="accordion">
     Is solar panel detection accurate in all types of weather conditions?
     <i class="fa-solid fa-chevron-down"></i>
   </button>
   <div class="pannel">
     <p>
         Solar panel detection algorithms are designed to perform well under various weather conditions, including sunny, cloudy, and overcast skies. However, extreme weather conditions such as heavy rain or snow may affect the accuracy of detection temporarily.

     </p>
   </div>
 </div>

 <div class="faq">
     <button class="accordion">
         Can solar panel detection identify the efficiency or type of solar panels?
       <i class="fa-solid fa-chevron-down"></i>
     </button>
     <div class="pannel">
       <p>
         While solar panel detection primarily focuses on identifying the presence and location of solar panels, additional analysis techniques can be applied to assess factors such as panel efficiency, orientation, and type. These analyses may require additional data and modeling beyond basic detection algorithms.

       </p>
     </div>
   </div>

   <div class="faq">
     <button class="accordion">
         What are the limitations of solar panel detection technology?
       <i class="fa-solid fa-chevron-down"></i>
     </button>
     <div class="pannel">
       <p>
         Like any technology, solar panel detection has its limitations. Factors such as image resolution, quality, and occlusions (e.g., shadows, foliage) can impact detection accuracy. Additionally, the detection of small or poorly visible solar panels may pose challenges for automated algorithms.

       </p>
     </div>
   </div>


   
  
</div>
</div>
  



      <script>


      document.addEventListener("DOMContentLoaded", function() {
              document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                  anchor.addEventListener('click', function(e) {
                      e.preventDefault();

                      const target = document.querySelector(this.getAttribute('href'));
                      if (target) {
                          window.scrollTo({
                              top: target.offsetTop,
                              behavior: 'smooth' // Smooth scroll transition
                          });
                      }
                  });
              });
          });

    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        this.parentElement.classList.toggle("active");

        var pannel = this.nextElementSibling;

        if (pannel.style.display === "block") {
          pannel.style.display = "none";
        } else {
          pannel.style.display = "block";
        }
      });
    }
        function redirectToUser() {
            window.location.href = "/user";
        }
        function redirectToIndex() {
            window.location.href = "/index";
        }
        function redirectToDealer()
        {
          window.location.href = "/dealer";
        } 
    </script>


</body>

</html>

