<!DOCTYPE html>
<html>
<head>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./static/cs.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>

<body>

    <div class="input-block"> 
       
      <div class="leftb col-12 col-md-6 col-lg-5 mb-3 ">
      <div class="containeri shadow p-8" style="height: 30vh;  border-radius: 35px; margin-bottom: 20px;" >
        <form action="/upload_text" method="post" enctype="multipart/form-data">
          <label style="font-weight: bold; display: block; margin-bottom: 10px;" for="userInput">Address:</label>
          <textarea placeholder="Give the address" id="userInput" name="userInput" rows="4" style="width: 100%; max-width: 400px;"></textarea>
          <button class="custom-button mb-3" type="submit" style="width: 100%; max-width: 200px;">Get User Input</button>
      </form>
      
      
          <!-- <img src="./static/static_map_image1.jpg" alt="Static Map Image" onerror="this.style.display='none';"> -->

      
        
        </div>
        
    </div>

  <!-- <div class="container col-5 col-md-5">    
      
      <form action="/upload_image" method="post" enctype="multipart/form-data">
          <div class="img-area" data-img="">
              <i class='bx bxs-cloud-upload icon'></i>
              <h3>Upload Image</h3>
              <p>Image size must be less than <span>2MB</span></p>
          </div>
          
          <input class="select-image" type="file" name="image_file" accept="image/*" required>
          
          <button class="custom-button mb-3" type="submit">Upload Image</button>
      </form>
      
</div> -->
  <div class="container col-12 col-md-6 col-lg-6 mb-3  shadow p-8" style="align-items: center; justify-content: center; height: 75vh; border-radius: 35px;">
      <div class="result-heading-bg" style="color:white; background-color: #5ca1f0; border-radius: 20px; ">
          <h2 class="text-center mb-4">Result</h2>
      </div>
      
        
    </div>
    
  
  </div>
 </div>
  

  <script>
   

    const selectImage = document.querySelector('.select-image');
const inputFile = document.querySelector('#file');
const imgArea = document.querySelector('.img-area');

selectImage.addEventListener('click', function () {
  inputFile.click();
})

inputFile.addEventListener('change', function () {
  const image = this.files[0]
  if(image.size < 2000000) {
    const reader = new FileReader();
    reader.onload = ()=> {
      const allImg = imgArea.querySelectorAll('img');
      allImg.forEach(item=> item.remove());
      const imgUrl = reader.result;
      const img = document.createElement('img');
      img.src = imgUrl;
      imgArea.appendChild(img);
      imgArea.classList.add('active');
      imgArea.dataset.img = image.name;
    }
    reader.readAsDataURL(image);
  } else {
    alert("Image size more than 2MB");
  }
})

  </script>
</body>

</html>