<!DOCTYPE html>
<html>
<head>
  <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./static/cs.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/20c5629a29.js" crossorigin="anonymous"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <style>
    .container {
      width: 50%; /* Adjust as needed */
      margin: 0 auto; /* Center horizontally */
      padding: 10px;
      border: 1px solid black;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust shadow properties as needed */
      text-align: center; /* Center text inside container */
    }
  </style>
</head>

<body style="padding-top: 5vh; padding-bottom: 5vh; background-color: #417C9A ;background-repeat: no-repeat;background-size: cover;">
   
    <div class="container">
        <h1>Cost estimations</h1>
        <h4>Hey {{name}}.. <br><b>Energy Consumed:</b> {{energy}}</h4>
        <h4><b>The installation cost: </b>₹ {{installationCost}}</h4>
        <h4><b>The number of solar panels need to be installed: </b> {{noOfSolarPanels}}</h4>
        <h4>Government is providing subsidies</h4>
        {% if kWattenergy>=3 %}
        <h4>Since, your energy consumption is greater than 3kW, the government provides ₹ 78,000</h4>
        <h4>So,It would cost you around ₹ {{installationCost-78000}}</h4>
        {% endif %}
        {% if kWattenergy >= 2 and kWattenergy < 3 %}
        <h3>Since, your energy consumption is greater than 2kW, the government provides ₹ 60,000</h3>
        <h4>So,It would cost you around ₹ {{installationCost-60000}}</h4>
        {% endif %}
        {% if kWattenergy>=1 and kWattenergy < 2 %}
        <h3>Since, your energy consumption is greater than 3kW, the government provides ₹ 30,000</h3>
        <h4>So,It would cost you around ₹ {{installationCost-30000}}</h4>
        {% endif %} 
        
      </div>       
</body>

</html>